# Summary: Python dependencies for IGA.
#
# Copyright 2024 California Institute of Technology.
# License: Modified BSD 3-clause – see file "LICENSE" in the project website.
# Website: https://github.com/caltechlibrary/iga

aenum                      >= 3.1.15
arrow                      >= 1.3.0
boltons                    >= 21.0.0
caltechdata-api            >= 1.6.1
commonpy                   >= 1.13.0
dirtyjson                  >= 1.0.8
ginza                      >= 5.2.0
ja_ginza_electra           >= 5.2.0
httpx                      >= 0.23.1
humanize                   >= 4.9.0
idutils                    >= 1.2.1
iptools                    >= 0.7.0
isbnlib                    >= 3.10.14
jamo                       >= 0.4.1
json5                      >= 0.9.25
latexcodec                 >= 3.0.0
lingua-language-detector   >= 2.0.2
lxml                       >= 5.2.2
Markdown                   >= 3.6
markdown-checklist         >= 0.4.4
mdx-breakless-lists        >= 1.0.1
mdx_linkify                >= 2.1
nameparser                 >= 1.1.3
probablepeople             >= 0.5.5
pybtex                     >= 0.24.0
pybtex-apa7-style          >= 0.1.3
pymdown-extensions         >= 10.8.1
PyYAML                     >= 6.0.1
regex                      >= 2022.3.2
rich-click                 >= 1.8.2
sidetrack                  >= 2.0.1
spacy                      >= 3.7.4
spacy-alignments           >= 0.9.1
spacy-curated-transformers >= 0.2.2
spacy-legacy               >= 3.0.12
spacy-loggers              >= 1.0.5
spacy-pkuseg               >= 0.0.33
spacy-transformers         >= 1.1.9
StringDist                 >= 1.0.9
url-normalize              >= 1.4.3
validators                 >= 0.28.1
