# Summary: Python dependencies for IGA for development & testing.
#
# Copyright 2024 California Institute of Technology.
# License: Modified BSD 3-clause – see file "LICENSE" in the project website.
# Website: https://github.com/caltechlibrary/iga

-r requirements.txt
-r requirements-lint.txt

pytest      >= 6.2.5
pytest-cov  >= 3.0.0
pytest-mock >= 3.7.0

twine
wheel

linkify-it-py
myst-parser
sphinx-autobuild
sphinx-material
sphinxcontrib-mermaid
