# @file    requirements-dev.txt
# @brief   Python dependencies for iga for development & testing
# @created 2022-12-08
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/iga

-r requirements.txt
-r requirements-lint.txt

pytest      >= 6.2.5
pytest-cov  >= 3.0.0
pytest-mock >= 3.7.0

twine
wheel

linkify-it-py
myst-parser
sphinx-autobuild
sphinx-material
sphinxcontrib-mermaid
